body, html {
  height: 100%;
  margin: 0;
  font-style: roboto;
}

.uaelogo{
  margin-right: 20px;
}

.blacklogo{
filter: invert(1);
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.nav-link:hover {
  text-decoration: underline;
}
.navbarcustom{
  color: #ffffff;
  background-color: #ffffff36;

 
}

.overview{
    background: url(../img/overviewbg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
 
}

.overviewHeader{
    color: white;
    font-family: 'Roboto';
  
}


.footer p {
    display: inline-block;
    position: relative;
    margin-top: 138px;
  }
  
  .footer p:after {
    content: "";
    height: 2px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    
  }
  .overviewTextContent{
      padding-bottom: 10px;
  }
.innertext{
    color: white;
    text-align: left;
    height: 500px;
    margin-left: 20px;
    direction : ltr;
    
}


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 500px;
	width: 80%;
	
	overflow-y: scroll;
	margin-bottom: 25px;
    direction : rtl;
}

.force-overflow
{
	min-height: 450px;
}


#style-2::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #f5f5f544;
    
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #f5f5f500;
}
#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	background-color: #ffffff;
}

.readmore{
    width: 193px;
height: 54px;
color: white;
background-color: #B4984F;
border-radius: 10px 0px;
border: 1px solid #B4984F;
}

.registernow{
  width: 150px;
  height: 30px;
  color: white;
  background-color: #B4984F;
  border-radius: 10px 0px;
  border: 1px solid #B4984F;

}

.registernow:hover{
  width: 150px;
  height: 30px;
  color: white;
  background-color: #2A2A2A;
  border-radius: 10px 0px;
  border: 1px solid #2A2A2A;
}

.firstscroll{
  background-image: url(../img/firstscroll.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}
  .scroll_text{
text-align: left;
color: white;
height: 100%;

  }



  .landing{
    background-image: url(../img/coverpage.jpg);
  

    /* Full height */
    height: 119%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .dreamday{
    padding-top: 120px;
  }

  .buildtext{
    color: white;
    font-family: roboto;
    font-weight: bold;
  }

  .subtext{
    color: white;
    font-family: roboto;
    font-weight: 500;
  }

  .minilogo{
    filter: invert(1);
     

    
  }

  .sidelogotext{
  
  }

  .numbertext{
    font-weight: bold;
    color: #B4984F;
  }

  .subnumbertext{
   
  }

.mainheader{
  font-family: 'Dancing Script', cursive;
  color: #E0B765;
  
  font-weight: bold;
}
  